body {
    font-family: "ralewaylight",Arial, sans-serif;
    color: #646462;
}

h3 {
    font-family: "ralewayextralight",Arial, sans-serif;
}

h3:first-child {
    margin-top: 0;
}

a {
    font-weight: normal;
}

.clear {
    clear: both;
}

.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}

h1 img {
    height: 35px;
    vertical-align: middle;
    margin-right: 0.2em;
    padding-bottom: 0.1em;
}

.ui-header h1.ui-title {
    font-family: "ralewaysemibold", Arial, sans-serif;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

}

.ui-footer h1.ui-title {
    font-family: "ralewayextralight", Arial, sans-serif;


}

.content {
    background-color: transparent;
}


.textCenter {
    text-align: center;
}

#login {
    background: url("../img/bg_login.png") no-repeat bottom center;
    background-size: 100%;
}

#login a.fbBtn {
    background-color: #3c5a96;
    margin-top: 1.5em;
}
#login a {

    margin-top: 1em;
    margin-bottom: 1.5em;
}


#home {
    background: url("../img/bg_home.jpg") no-repeat bottom center;
    background-size: 100%;
}


#home .btnChoix {
    margin-bottom: 2em;
}

#home .btnHome:first-child {
    border-right: 2px solid white;
}

#home .btnHome:last-child {
    border-left: 2px solid white;
}

#home a.btnHome {
    font-family: "ralewayextralight","Arial", sans-serif;
    font-size: 1.1em;
    background-color: #7DD1EB;
    color: #ffffff;
    background: repeating-linear-gradient(
        -45deg,
        #7DD1EB,
        #7DD1EB 5px,
        #87daf4 5px,
        #87daf4 7px
    );
}
#home a.btnHome span{
    font-size: 0.75em;
}

#home .btnHome p {

    margin-top: 0.5em;
}
#home .btnHome img {
    width: 5em;
    margin-top: 1em;
}


.content .borderBtm {
    padding-bottom: 0.5em;
    border-bottom: 2px solid #dbdcde;
}

.content form > label {
    background-color: #7ed2ec;
    margin-bottom: 0;
    color: #ffffff;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

}
.content .ui-controlgroup-horizontal fieldset {
    margin-top: 1.2em;

}
#submit > div.content.ui-content.ui-body-a > form > div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow > input {
    font-family: "ralewayextralight", Arial, sans-serif;

}

#submit .content form > fieldset > div {
    margin-bottom: 0.8em;
}

#submit > div.content.ui-content.ui-body-a > form > div {
    margin-top: 0;
}

#submit > div.content.ui-content.ui-body-a > form > div > a {
    background-color: #7DD1EB;
}

.footerBtn div p{
    font-size: 1.2em;
    margin-bottom: 0.8em;

}

#map-canvas {
    height: 0;
    width: 70%;
    padding: 0;


}

.infosMap {
    margin-top: 1em;
}

#dirParcours {
    width: 69%;
}
#dirParcours p{
    color: #7DD1EB;
    font-size: 2.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border-right: 2px solid #CECFD1;
    border-left: 2px solid #CECFD1;

}

#parcours .footerBtn a {
    color: #ffffff;
}

.footerBtn div.vitesse {
    width: 38%;
}
.footerBtn div.camera {
    width: 23%;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.footerBtn div.distance {
    width: 38%;
}

.typeForm fieldset {
    margin-top: 0;
}

.typeForm  fieldset .ui-radio {
    display: block;
    clear: both;
    padding-right: 0;
    width: 100%;
    border-right-width: 1px;

}

.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn {
    border-right-width: 1px;
    border-bottom-width:0 ;
    text-align: center;

}
.typeForm  fieldset label span.xxsText {
    font-size: 0.6em;
    font-family: "ralewaylight", Arial, sans-serif;
}


#tourismeMenu,
#sportMenu,
#workMenu {
    width: 7em;
}
#tourismeMenu .ui-panel-inner,
#sportMenu .ui-panel-inner,
#workMenu .ui-panel-inner {
    padding: 0;
}



