<!DOCTYPE html><!--HTML5 doctype-->
<html ng-app="mobile">
<head>
	<title>Your New Application</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<style type="text/css">
		/* Prevent copy paste for all elements except text fields */
		*  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
		input, textarea  { -webkit-user-select:text; }
		body { background-color:white; color:black }
	</style>
	<script src='intelxdk.js'></script>
	<script type="text/javascript">
		/* Intel native bridge is available */
		var onDeviceReady=function(){
		//hide splash screen
		intel.xdk.device.hideSplashScreen();
		};
		document.addEventListener("intel.xdk.device.ready",onDeviceReady,false);
	</script>

    <link rel="stylesheet" href="assets/css/gomobility.css">
    <link rel="stylesheet" href="assets/css/jquery.mobile.icons.min.css">
    <link rel="stylesheet" href="assets/css/jquery.mobile.structure-1.4.3.min.css">

    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/js/jquery.mobile-1.4.3.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/app.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1ruG9PaUssg06qR5pAKoKi0fk6Va6Gz0&libraries=places"></script>

    <script src="assets/js/angular.min.js"></script>

    <link href="assets/css/angular.rangeSlider.css" rel="stylesheet">
    <script src="assets/js/angular.rangeSlider.js"></script>

    <script src="assets/js/ang_app.js"></script>

    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fonts.css">
    <link rel="stylesheet" href="assets/css/style.css">



</head>
<body ng-controller="mobileController as mobile">

    <!-- **************************** PAGE CONNEXION **************************** -->
    <div data-role="page" data-theme="a" id="login">
        <div data-role="header" data-position="inline">
            
            <h1><img src="assets/img/headLogo.png" alt=""/>Go Mobility</h1>
        </div>
        <div data-role="content" data-theme="a" class="content">

            <a class = "fbBtn" href="#" data-role="button">Se connecter avec facebook</a>
            <a href="#connexion" data-transition="slide"     data-role="button">Connexion avec email</a>

        </div>
    </div>
    <!-- **************************** FIN CONNEXION **************************** -->


    <!-- **************************** PAGE CONNEXION EMAIL **************************** -->
    <div data-role="page" data-theme="a" id="connexion">
        <div data-role="header" data-position="inline">
            <a href="#login" data-transition="slide" data-direction="reverse" class="ui-btn ui-icon-delete ui-btn-icon-notext"></a>
            <h1><img src="assets/img/headLogo.png" alt=""/>Go Mobility</h1>
        </div>
        <div data-role="content" data-theme="a" class="content">

            <p>Connexion</p>

            <p><a href="#home"  data-transition="slide">Home</a></p>

        </div>
    </div>
    <!-- **************************** FIN PAGE CONNEXION EMAIL **************************** -->


    <!-- **************************** PAGE HOME **************************** -->
    <div data-role="page" data-theme="a" id="home">
        <div data-role="header" data-position="inline">
            <h1><img src="assets/img/headLogo.png" alt=""/>Go Mobility</h1>
        </div>
        <div data-role="content" data-theme="a" class="content">
            <h3 class="textCenter">L'ardèche éco-responsable</h3>

            <div class="ui-grid-a btnChoix">

                    <a class="ui-block-a textCenter ui-shadow ui-btn ui-corner-all btnHome" href="#submit"  data-transition="slide"  >
                        <img src="assets/img/icon_submit.png" alt=""  />
                        <p>JE PROPOSE<br><span>mon parcours</span></p>
                    </a>


                <a class="ui-block-b textCenter ui-shadow ui-btn ui-corner-all btnHome" href="#searchTourisme"  data-transition="slide" >
                    <img src="assets/img/icon_search.png" alt="" />
                    <p>JE CHOISIS<br><span>mon parcours</span></p>
                </a>
            </div>

            <p>Déjà</p>
            <div class="ges">
                <p>XXX g</p>
            </div>
            <p>économisé grâce à vous</p>


        </div>
        <div data-role="footer" data-position="fixed">
            <h1><img src="assets/img/icon_concours.png" alt=""/>Participez à notre concours !</h1>
        </div>
    </div>
    <!-- **************************** FIN HOME **************************** -->





    <!-- **************************** PAGE PROPOSITION **************************** -->
    <div data-role="page" data-theme="a" id="submit">
        <div data-role="header" data-position="inline">
            <a href="#home" data-transition="slide" data-direction="reverse" class="ui-btn ui-icon-home ui-btn-icon-notext"></a>
            <h1><img src="assets/img/headLogo.png" alt=""/>Go Mobility</h1>
        </div>
        <div data-role="content" data-theme="a" class="content">

            <h3 class="textCenter ">ON VA OÙ ?</h3>

            <form class="ui-grid-a textCenter">

                <label for="arrivee">Destination</label>
                <input type="text" data-clear-btn="true" name="arrivee" id="arrivee" value="" placeholder="Lieu dit, rue, monument...">

                <h3 class="textCenter borderBtm">TYPE DE PARCOURS</h3>


                <select name="typeParcours" id="typeParcours">
                    <option value="">Pas de préférence</option>
                    <option value="gastronomique">Gastronomique</option>
                    <option value="nature">Nature</option>
                    <option value="historique">Historique **</option>
                    <option value="enonomique">Economique **</option>
                    <option value="sport">Sportif **</option>
                    <option value="work">Go to work **</option>
                </select>


                <h3 class="textCenter borderBtm">MODE DE TRANSPORT</h3>

                <fieldset data-role="controlgroup" data-type="horizontal" class="ui-grid-a borderBtm">
                    <div class="ui-block-a">
                        <input type="radio" name="transport" id="transport1" value="WALKING" checked="checked">
                        <label for="transport1"><i class="fa fa-male fa-2x"></i></label>
                    </div>
                    <div class="ui-block-b">
                        <input type="radio" name="transport" id="transport2" value="BICYCLING">
                        <label for="transport2"><i class="fa fa-bicycle fa-2x"></i></label>
                    </div>
                    <div class="ui-block-c">
                        <input type="radio" name="transport" id="transport3" value="TRANSIT">
                        <label for="transport3"><i class="fa fa-bus fa-2x"></i></label>
                    </div>
                    <div class="ui-block-d">
                        <input type="radio" name="transport" id="transport4" value="DRIVING">
                        <label for="transport4"><i class="fa fa-car fa-2x"></i></label>
                    </div>
                </fieldset>

                <a href="#parcours" id="submitParcours" data-transition="slide"  class="ui-btn" >Rechercher</a>

            </form>



        </div>
    </div>
    <!-- **************************** PAGE PROPOSITION **************************** -->




    <!-- **************************** PAGE AFFICHAGE PARCOURS PROPOSITION **************************** -->
    <div data-role="page" data-theme="a" id="parcours">
        <div data-role="header" data-position="inline">
            <a href="#submit" data-ajax="false" class="ui-btn ui-icon-delete ui-btn-icon-notext" id="backSubmit"></a>
            <h1><img src="assets/img/headLogo.png" alt=""/>Go Mobility</h1>
        </div>


        <script src="assets/js/mapsubmit.js"></script>


        <div data-role="content" data-theme="a" class="content" id="map-canvas">


            <!--

            <h3 class="textCenter">Itinéraire</h3>

            <div class="map textCenter ui-grid-a">
                <div class="ui-block-a" style="width: 15%;">Son</div>
                <div class="ui-block-b textCenter" style="width: 70%;" id="map-canvas" ></div>
                <div class="ui-block-c" style="width: 15%;"><a href="#" >Pause</a></div>
            </div>
            <div class="infosMap ui-grid-a textCenter">
                <div class="ui-block-a" style="width: 15%;"></div>
                <div class="ui-block-b" id="dirParcours"></div>
                <div class="ui-block-c" style="width: 15%;"></div>

            </div>

            <div id="map-directions"></div>

        -->

        </div>


        <div data-role="footer" data-position="fixed">
            <div class="footerBtn textCenter">

                <fieldset data-role="controlgroup" data-type="horizontal" class="floatLeft chkbox">
                    <input type="checkbox" name="stopGeolocation" id="stopGeolocation">
                    <label for="stopGeolocation" id="pauseWatch"><i class="fa fa-pause fa-lg"></i> Pause</label>
                </fieldset>


                <a href="#"><div class="floatLeft camera"><p><i class="fa fa-camera fa-lg"></i></p></div></a>
                <div class="floatRight distance" id="distParcours"></div>
            </div>

        </div>
    </div>
    <!-- **************************** FIN PAGE AFFICHAGE PARCOURS PROPOSITION **************************** -->


    <!-- **************************** PAGE RECHERCHE TOURISTIQUE **************************** -->

    <div data-role="page" data-theme="a" id="searchTourisme">
        <div data-role="header" data-position="inline">
            <a href="#tourismeMenu" data-icon="gear" data-iconpos="notext">Type</a>
            <h1><img src="assets/img/headLogo.png" alt=""/>Go Mobility</h1>
            <a href="#home" data-transition="slide" data-direction="reverse" class="ui-btn ui-icon-delete ui-btn-icon-notext"></a>
        </div>
        <div data-role="content" data-theme="a" class="content">



            <form class="ui-grid-a textCenter" id="tourismeForm">


                <div>{{post.transportT}}</div>

                <h3 class="textCenter" ng-click="debbug()">MODE DE TRANSPORT</h3>

                <fieldset data-role="controlgroup" data-type="horizontal" class="ui-grid-a borderBtm">

                    <div class="ui-block-a">
                        <input type="radio" name="transportT" id="transportT1" value="WALKING" checked="checked" ng-model="post.transportT">
                        <label for="transportT1"><i class="fa fa-male fa-2x"></i></label>
                    </div>
                    <div class="ui-block-b">
                        <input type="radio" name="transportT" id="transportT2" value="BICYCLING" ng-model="post.transportT">
                        <label for="transportT2"><i class="fa fa-bicycle fa-2x"></i></label>
                    </div>
                    <div class="ui-block-c">
                        <input type="radio" name="transportT" id="transportT3" value="TRANSIT" ng-model="post.transportT">
                        <label for="transportT3"><i class="fa fa-bus fa-2x"></i></label>
                    </div>
                    <div class="ui-block-d">
                        <input type="radio" name="transportT" id="transportT4" value="DRIVING" ng-model="post.transportT">
                        <label for="transportT4"><i class="fa fa-car fa-2x"></i></label>
                    </div>
                </fieldset>


                <h3 class="textCenter borderBtm">TYPE DE PARCOURS</h3>

                <fieldset data-role="controlgroup" class="borderBtm">
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <input type="radio" name="parcoursTypeT" id="parcoursTypeT1" value="economique" checked="checked" ng-model="post.parcoursTypeT">
                            <label for="parcoursTypeT1"><i class="fa fa-usd fa-2x"></i></label>
                        </div>
                        <div class="ui-block-b">
                            <input type="radio" name="parcoursTypeT" id="parcoursTypeT2" value="historique" ng-model="post.parcoursTypeT">
                            <label for="parcoursTypeT2"><i class="fa fa-university fa-2x"></i></label>
                        </div>
                    </div>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <input type="radio" name="parcoursTypeT" id="parcoursTypeT3" value="gastronomique" ng-model="post.parcoursTypeT">
                            <label for="parcoursTypeT3"><i class="fa fa-cutlery fa-2x"></i></label>
                        </div>
                        <div class="ui-block-b">
                            <input type="radio" name="parcoursTypeT" id="parcoursTypeT4" value="nature" ng-model="post.parcoursTypeT">
                            <label for="parcoursTypeT4"><i class="fa fa-tree fa-2x"></i></label>
                        </div>
                    </div>
                </fieldset>

                <h3 class="textCenter">DUREE DU PARCOURS</h3>

                <div range-slider min="0" max="10" model-min="post.duree.min" model-max="post.duree.max" prevent-equal-min-max="true" prefix=" H"></div>

                <h3 class="textCenter">DISTANCE DU PARCOURS</h3>

                <div range-slider min="0" max="10" model-min="post.distance.min" model-max="post.distance.max" prevent-equal-min-max="true" prefix=" Km"></div>

                <h3 class="textCenter">DIFFICULTES</h3>

                <fieldset data-role="controlgroup">
                    <div class="ui-grid-b level">
                        <div class="ui-block-a">
                            <input type="radio" name="difficulteT" id="difficulteT1" value="1" checked="checked" ng-model="post.difficulteT">
                            <label for="difficulteT1"><i class="fa fa-star fa-2x"></i></label>
                        </div>
                        <div class="ui-block-b">
                            <input type="radio" name="difficulteT" id="difficulteT2" value="2" ng-model="post.difficulteT">
                            <label for="difficulteT2"><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i></i></label>
                        </div>
                        <div class="ui-block-c">
                            <input type="radio" name="difficulteT" id="difficulteT3" value="3" ng-model="post.difficulteT">
                            <label for="difficulteT3"><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i></label>
                        </div>
                    </div>

                </fieldset>


                <h3 class="textCenter">LOISIRS PAYANTS</h3>

                <fieldset data-role="controlgroup">
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <input type="radio" name="payant" id="loisirsT1" value="1" checked="checked"  ng-model="post.payant">
                            <label for="loisirsT1">Oui</label>
                        </div>
                        <div class="ui-block-b">
                            <input type="radio" name="payant" id="loisirsT2" value="0"  ng-model="post.payant">
                            <label for="loisirsT2">Non</label>
                        </div>
                    </div>

                </fieldset>



                <a href="#parcoursSearch" id="submitTourisme" data-transition="slide"  class="ui-btn" ng-click="search()">Rechercher</a>

            </form>



        </div>

        <div data-role="panel" data-position="left" data-position-fixed="true" data-display="overlay" data-theme="a" id="tourismeMenu">
            <form class="typeForm">

                <fieldset data-role="controlgroup" data-theme="a" data-type="horizontal">

                    <input type="radio" name="typeParcoursT" id="tt1" value="tourisme" checked="checked">
                    <label for="tt1"><i class="fa fa-university fa-2x"></i><br/><span class="xxsText">Touristique</span></label>

                    <input type="radio" name="typeParcoursT" id="tt2" value="sport">
                    <label for="tt2"><i class="fa fa-child fa-2x"></i><br/><span class="xxsText">Sportif</span></label>

                    <input type="radio" name="typeParcoursT" id="tt3" value="work">
                    <label for="tt3"><i class="fa fa-suitcase fa-2x"></i><br/><span class="xxsText">Go to work</span></label>

                </fieldset>

            </form>

            <a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-b ui-mini"><i class="fa fa-close fa-2x"></i></a>

        </div><!-- /panel -->

    </div>
    <!-- **************************** FIN PAGE RECHERCHE PARCOURS TOURISTIQUE **************************** -->






    <!-- **************************** PAGE RECHERCHE SPORT **************************** -->

    <div data-role="page" data-theme="a" id="searchSport">
        <div data-role="header" data-position="inline">
            <a href="#sportMenu" data-icon="gear" data-iconpos="notext">Type</a>
            <h1><img src="assets/img/headLogo.png" alt=""/>Go Mobility</h1>
            <a href="#home" data-transition="slide" data-direction="reverse" class="ui-btn ui-icon-delete ui-btn-icon-notext"></a>
        </div>
        <div data-role="content" data-theme="a" class="content">

            <p>Recherche sport</p>

            <form class="ui-grid-a textCenter">

            </form>

        </div>

        <div data-role="panel" data-position="left" data-position-fixed="true" data-display="overlay" data-theme="a" id="sportMenu">
            <form class="typeForm">

                <fieldset data-role="controlgroup" data-theme="a" data-type="horizontal">

                    <input type="radio" name="typeParcoursS" id="ts1" value="tourisme">
                    <label for="ts1"><i class="fa fa-university fa-2x"></i><br/><span class="xxsText">Touristique</span></label>

                    <input type="radio" name="typeParcoursS" id="ts2" value="sport">
                    <label for="ts2"><i class="fa fa-child fa-2x"></i><br/><span class="xxsText">Sportif</span></label>

                    <input type="radio" name="typeParcoursS" id="ts3" value="work">
                    <label for="ts3"><i class="fa fa-suitcase fa-2x"></i><br/><span class="xxsText">Go to work</span></label>

                </fieldset>

            </form>

            <a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-b ui-mini"><i class="fa fa-close fa-2x"></i></a>

        </div><!-- /panel -->

    </div>
    <!-- **************************** FIN PAGE RECHERCHE PARCOURS SPORT **************************** -->







    <!-- **************************** PAGE RECHERCHE GO TO WORK **************************** -->
    <div data-role="page" data-theme="a" id="searchWork">
        <div data-role="header" data-position="inline">
            <a href="#workMenu" data-icon="gear" data-iconpos="notext">Type</a>
            <h1><img src="assets/img/headLogo.png" alt=""/>Go Mobility</h1>
            <a href="#home" data-transition="slide" data-direction="reverse" class="ui-btn ui-icon-delete ui-btn-icon-notext"></a>
        </div>
        <div data-role="content" data-theme="a" class="content">

            <p>Recherche go to work</p>

            <form class="ui-grid-a textCenter">

            </form>

        </div>

        <div data-role="panel" data-position="left" data-position-fixed="true" data-display="overlay" data-theme="a" id="workMenu">
            <form class="typeForm">

                <fieldset data-role="controlgroup" data-theme="a" data-type="horizontal">

                    <input type="radio" name="typeParcoursW" id="tw1" value="tourisme">
                    <label for="tw1"><i class="fa fa-university fa-2x"></i><br/><span class="xxsText">Touristique</span></label>

                    <input type="radio" name="typeParcoursW" id="tw2" value="sport">
                    <label for="tw2"><i class="fa fa-child fa-2x"></i><br/><span class="xxsText">Sportif</span></label>

                    <input type="radio" name="typeParcoursW" id="tw3" value="work">
                    <label for="tw3"><i class="fa fa-suitcase fa-2x"></i><br/><span class="xxsText">Go to work</span></label>

                </fieldset>

            </form>

            <a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-b ui-mini"><i class="fa fa-close fa-2x"></i></a>

        </div><!-- /panel -->

    </div>
    <!-- **************************** FIN PAGE RECHERCHE PARCOURS GO TO WORK **************************** -->







    <!-- **************************** PAGE AFFICHAGE PARCOURS SEARCH **************************** -->
    <div data-role="page" data-theme="a" id="parcoursSearch">
        <div data-role="header" data-position="inline">
            <a href="#searchTourisme" data-transition="slide" data-direction="reverse" class="ui-btn ui-icon-delete ui-btn-icon-notext" id="returnBtn"></a>
            <h1><img src="assets/img/headLogo.png" alt=""/>Go Mobility</h1>
        </div>


        <!-- <script src="assets/js/mapsubmit.js"></script> -->


        <div data-role="content" data-theme="a" class="content">

            <h3 class="textCenter">Itinéraire</h3>

            <div class="map textCenter ui-grid-a">
                <div class="ui-block-a" style="width: 15%;">Son</div>
                <div class="ui-block-b textCenter" style="width: 70%;" id="mapSearch-canvas" ></div>
                <div class="ui-block-c" style="width: 15%;">Pause</div>
            </div>
            <div class="infosMap ui-grid-a textCenter">
                <div class="ui-block-a" style="width: 15%;"></div>
                <div class="ui-block-b" id="dirParcoursSearch"></div>
                <div class="ui-block-c" style="width: 15%;"></div>

            </div>

            <div id="mapSearch-directions"></div>

        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>GES</th>
                        <th>Distance</th>
                        <th>Durée</th>
                        <th>Transport</th>
                        <th>Difficulty</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="(keyData, resultat) in resultats">
                        <th>{{keyData+1}}</th>
                        <th>{{resultat.ges}}</th>
                        <th>{{resultat.distance}}</th>
                        <th>{{resultat.duree}}</th>
                        <th>{{resultat.transport}}</th>
                        <th>{{resultat.difficulty}}</th>

                    </tr>
                </tbody>

            </table>
        </div>

        <div data-role="footer" data-position="fixed">
            <div class="footerBtn textCenter">
                <div class="floatLeft vitesse"><p>13 km/h</p></div>
                <a href="#"><div class="floatLeft camera"> <p><i class="fa fa-camera fa-lg"></i></p></div></a>
                <div class="floatRight distance" id="distParcoursSearch"></div>
            </div>

        </div>
    </div>
    <!-- **************************** FIN PAGE RECHERCHE PARCOURS SEARCH **************************** -->

    <script type="javascript">

        var refresh = function(evt) {
            // On empeche l'action par défaut du submit
            evt.preventDefault();

            // On affiche le loader pour le chargement de la chanson
            $.mobile.loading('show', {
                text : 'Chargement ...',
                textVisible : true,
                theme : "a"
            });

            var sportType = $('[name=version]:checked').val();
            console.log(sportType);
            app.listHome(sportType);


        };


    </script>


</body>

</html>
